# DataFrame Calculations

In [1]:
import numpy as np
import pandas as pd

animals=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/animals.csv')

animals.head(3)

   brainwt  bodywt      animal
0    3.385  44.500  Arctic_fox
1    0.480  15.499  Owl_monkey
2    1.350   8.100      Beaver

In [2]:
animals.bodywt=animals.bodywt*1000

In [3]:
animals.head(3)

   brainwt   bodywt      animal
0    3.385  44500.0  Arctic_fox
1    0.480  15499.0  Owl_monkey
2    1.350   8100.0      Beaver

In [4]:
animals['brainratio']=animals.brainwt/animals.bodywt
animals.head()

   brainwt    bodywt      animal  brainratio
0    3.385   44500.0  Arctic_fox    0.000076
1    0.480   15499.0  Owl_monkey    0.000031
2    1.350    8100.0      Beaver    0.000167
3  464.983  423012.0         Cow    0.001099
4   36.328  119498.0   Gray_wolf    0.000304

In [5]:
animals['reversecheck']=animals.bodywt/animals.brainwt[animals.brainwt>50]
animals

     brainwt     bodywt                     animal  brainratio  reversecheck
0      3.385    44500.0                 Arctic_fox    0.000076           NaN
1      0.480    15499.0                 Owl_monkey    0.000031           NaN
2      1.350     8100.0                     Beaver    0.000167           NaN
3    464.983   423012.0                        Cow    0.001099    909.736485
4     36.328   119498.0                  Gray_wolf    0.000304           NaN
5     27.660   114996.0                       Goat    0.000241           NaN
6     14.831    98199.0                   Roe_deer    0.000151           NaN
7      1.040     5500.0                 Guinea_pig    0.000189           NaN
8      4.190    57998.0                     Vervet    0.000072           NaN
9      0.425     6400.0                 Chinchilla    0.000066           NaN
10     0.101     4000.0            Ground_squirrel    0.000025           NaN
11     0.920     5700.0                     Arctic    0.000161           NaN
12     1.000     6600.0  African_giant_pouched_rat    0.000152           NaN
13     0.005      140.0  Lesser_short-tailed-shrew    0.000036           NaN
14     0.060     1000.0            Star-nosed_mole    0.000060           NaN
15     3.500    10800.0      Nine-banded_armadillo    0.000324           NaN
16     2.000    12300.0                 Tree_hyrax    0.000163           NaN
17     1.700     6300.0                N._American    0.000270           NaN
18  2547.070  4603170.0             Asian_elephant    0.000553   1807.241262
19     0.023      300.0              Big_brown_bat    0.000077           NaN
20   187.092   419012.0                     Donkey    0.000447   2239.604045
21   521.026   654977.0                      Horse    0.000795   1257.090817
22     0.785     3500.0          European_hedgehog    0.000224           NaN
23    10.000   114996.0               Patas_monkey    0.000087           NaN
24     3.300    25600.0                        Cat    0.000129           NaN
25     0.200     5000.0                     Galago    0.000040           NaN
26     1.410    17500.0                      Genet    0.000081           NaN
27   529.006   680005.0                    Giraffe    0.000778   1285.439107
28   206.996   406019.0                    Gorilla    0.000510   1961.482347
29    85.004   324992.0                  Gray_seal    0.000262   3823.255376
..       ...        ...                        ...         ...           ...
32  6654.180  5711860.0           African_elephant    0.001165    858.386758
33     3.500     3900.0              Water_opossum    0.000897           NaN
34     6.800   179003.0              Rhesus_monkey    0.000038           NaN
35    34.998    56003.0                   Kangaroo    0.000625           NaN
36     4.050    17000.0      Yellow-bellied_marmot    0.000238           NaN
37     0.120     1000.0             Golden_hamster    0.000120           NaN
38     0.023      400.0                      Mouse    0.000058           NaN
39     0.010      250.0           Little_brown_bat    0.000040           NaN
40     1.400    12500.0                 Slow_loris    0.000112           NaN
41   250.010   489997.0                      Okapi    0.000510   1959.909604
42     2.500    12100.0                     Rabbit    0.000207           NaN
43    55.501   175002.0                      Sheep    0.000317   3153.132376
44   100.003   156993.0                     Jaguar    0.000637   1569.882904
45    52.159   440011.0                 Chimpanzee    0.000119   8435.955444
46    10.550   179504.0                     Baboon    0.000059           NaN
47     0.550     2400.0            Desert_hedgehog    0.000229           NaN
48    59.997    80996.0            Giant_armadillo    0.000741   1350.000833
49     3.600    21000.0                Rock_hyrax2    0.000171           NaN
50     4.288    39201.0                    Raccoon    0.000109           NaN
51     0.280     1900.0                        Rat    0.000147           NaN
52     0.075     1200.0           E._American_mole    0.000063           NaN
53     0.122     3000.0                   Mole_rat    0.000041           NaN
54     0.048      330.0                 Musk_shrew    0.000145           NaN
55   192.001   180008.0                        Pig    0.001067    937.536784
56     3.000    25001.0                    Echidna    0.000120           NaN
57   160.004   169000.0            Brazilian_tapir    0.000947   1056.223594
58     0.900     2600.0                     Tenrec    0.000346           NaN
59     1.620    11400.0                  Phalanger    0.000142           NaN
60     0.104     2500.0                 Tree_shrew    0.000042           NaN
61     4.235    50400.0                    Red_fox    0.000084           NaN

[62 rows x 5 columns]

In [6]:
animals['jazz']=np.where(animals.brainwt>50,animals.bodywt/animals.brainwt,0)
animals

,brainwt,bodywt,animal,brainratio,reversecheck,jazz
0,3.385,44500.0,Arctic_fox,0.000076,NaN,0.000000
1,0.480,15499.0,Owl_monkey,0.000031,NaN,0.000000
2,1.350,8100.0,Beaver,0.000167,NaN,0.000000
3,464.983,423012.0,Cow,0.001099,909.736485,909.736485
4,36.328,119498.0,Gray_wolf,0.000304,NaN,0.000000
5,27.660,114996.0,Goat,0.000241,NaN,0.000000
6,14.831,98199.0,Roe_deer,0.000151,NaN,0.000000
7,1.040,5500.0,Guinea_pig,0.000189,NaN,0.000000
8,4.190,57998.0,Vervet,0.000072,NaN,0.000000
9,0.425,6400.0,Chinchilla,0.000066,NaN,0.000000
10,0.101,4000.0,Ground_squirrel,0.000025,NaN,0.000000
11,0.920,5700.0,Arctic,0.000161,NaN,0.000000
12,1.000,6600.0,African_giant_pouched_rat,0.000152,NaN,0.000000
13,0.005,140.0,Lesser_short-tailed-shrew,0.000036,NaN,0.000000
14,0.060,1000.0,Star-nosed_mole,0.000060,NaN,0.000000
15,3.500,10800.0,Nine-banded_armadillo,0.000324,NaN,0.000000
16,2.000,12300.0,Tree_hyrax,0.000163,NaN,0.000000
17,1.700,6300.0,N._American,0.000270,NaN,0.000000
18,2547.070,4603170.0,Asian_elephant,0.000553,1807.241262,1807.241262
19,0.023,300.0,Big_brown_bat,0.000077,NaN,0.000000
20,187.092,419012.0,Donkey,0.000447,2239.604045,2239.604045
21,521.026,654977.0,Horse,0.000795,1257.090817,1257.090817
22,0.785,3500.0,European_hedgehog,0.000224,NaN,0.000000
23,10.000,114996.0,Patas_monkey,0.000087,NaN,0.000000
24,3.300,25600.0,Cat,0.000129,NaN,0.000000
25,0.200,5000.0,Galago,0.000040,NaN,0.000000
26,1.410,17500.0,Genet,0.000081,NaN,0.000000
27,529.006,680005.0,Giraffe,0.000778,1285.439107,1285.439107
28,206.996,406019.0,Gorilla,0.000510,1961.482347,1961.482347
29,85.004,324992.0,Gray_seal,0.000262,3823.255376,3823.255376
...,...,...,...,...,...,...
32,6654.180,5711860.0,African_elephant,0.001165,858.386758,858.386758
33,3.500,3900.0,Water_opossum,0.000897,NaN,0.000000
34,6.800,179003.0,Rhesus_monkey,0.000038,NaN,0.000000
35,34.998,56003.0,Kangaroo,0.000625,NaN,0.000000
36,4.050,17000.0,Yellow-bellied_marmot,0.000238,NaN,0.000000
37,0.120,1000.0,Golden_hamster,0.000120,NaN,0.000000
38,0.023,400.0,Mouse,0.000058,NaN,0.000000
39,0.010,250.0,Little_brown_bat,0.000040,NaN,0.000000
40,1.400,12500.0,Slow_loris,0.000112,NaN,0.000000
41,250.010,489997.0,Okapi,0.000510,1959.909604,1959.909604
42,2.500,12100.0,Rabbit,0.000207,NaN,0.000000
43,55.501,175002.0,Sheep,0.000317,3153.132376,3153.132376
44,100.003,156993.0,Jaguar,0.000637,1569.882904,1569.882904
45,52.159,440011.0,Chimpanzee,0.000119,8435.955444,8435.955444
46,10.550,179504.0,Baboon,0.000059,NaN,0.000000
47,0.550,2400.0,Desert_hedgehog,0.000229,NaN,0.000000
48,59.997,80996.0,Giant_armadillo,0.000741,1350.000833,1350.000833
49,3.600,21000.0,Rock_hyrax2,0.000171,NaN,0.000000
50,4.288,39201.0,Raccoon,0.000109,NaN,0.000000
51,0.280,1900.0,Rat,0.000147,NaN,0.000000
52,0.075,1200.0,E._American_mole,0.000063,NaN,0.000000
53,0.122,3000.0,Mole_rat,0.000041,NaN,0.000000
54,0.048,330.0,Musk_shrew,0.000145,NaN,0.000000
55,192.001,180008.0,Pig,0.001067,937.536784,937.536784
56,3.000,25001.0,Echidna,0.000120,NaN,0.000000
57,160.004,169000.0,Brazilian_tapir,0.000947,1056.223594,1056.223594
58,0.900,2600.0,Tenrec,0.000346,NaN,0.000000
59,1.620,11400.0,Phalanger,0.000142,NaN,0.000000
60,0.104,2500.0,Tree_shrew,0.000042,NaN,0.000000
61,4.235,50400.0,Red_fox,0.000084,NaN,0.000000

In [7]:
np.where(animals.brainwt>50,animals.bodywt/animals.brainwt,0)

array([    0.        ,     0.        ,     0.        ,   909.73648499,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,  1807.24126153,     0.        ,
        2239.60404507,  1257.09081696,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,  1285.43910655,
        1961.48234748,  3823.25537622,     0.        , 21291.33197845,
         858.3867584 ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,  1959.90960362,     0.        ,  3153.13237599,
        1569.88290351,  8435.95544393,     0.        ,     0.        ,
        1350.00083338,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,   937.53678366,
           0.        ,  1056.22359441,     0.        ,     0.        ,
           0.        ,     0.        ])

In [8]:
animals['average']=animals.mean(axis=1)
animals

,brainwt,bodywt,animal,brainratio,reversecheck,jazz,average
0,3.385,44500.0,Arctic_fox,0.000076,NaN,0.000000,1.112585e+04
1,0.480,15499.0,Owl_monkey,0.000031,NaN,0.000000,3.874870e+03
2,1.350,8100.0,Beaver,0.000167,NaN,0.000000,2.025338e+03
3,464.983,423012.0,Cow,0.001099,909.736485,909.736485,8.505929e+04
4,36.328,119498.0,Gray_wolf,0.000304,NaN,0.000000,2.988358e+04
5,27.660,114996.0,Goat,0.000241,NaN,0.000000,2.875592e+04
6,14.831,98199.0,Roe_deer,0.000151,NaN,0.000000,2.455346e+04
7,1.040,5500.0,Guinea_pig,0.000189,NaN,0.000000,1.375260e+03
8,4.190,57998.0,Vervet,0.000072,NaN,0.000000,1.450055e+04
9,0.425,6400.0,Chinchilla,0.000066,NaN,0.000000,1.600106e+03
10,0.101,4000.0,Ground_squirrel,0.000025,NaN,0.000000,1.000025e+03
11,0.920,5700.0,Arctic,0.000161,NaN,0.000000,1.425230e+03
12,1.000,6600.0,African_giant_pouched_rat,0.000152,NaN,0.000000,1.650250e+03
13,0.005,140.0,Lesser_short-tailed-shrew,0.000036,NaN,0.000000,3.500126e+01
14,0.060,1000.0,Star-nosed_mole,0.000060,NaN,0.000000,2.500150e+02
15,3.500,10800.0,Nine-banded_armadillo,0.000324,NaN,0.000000,2.700875e+03
16,2.000,12300.0,Tree_hyrax,0.000163,NaN,0.000000,3.075500e+03
17,1.700,6300.0,N._American,0.000270,NaN,0.000000,1.575425e+03
18,2547.070,4603170.0,Asian_elephant,0.000553,1807.241262,1807.241262,9.218663e+05
19,0.023,300.0,Big_brown_bat,0.000077,NaN,0.000000,7.500577e+01
20,187.092,419012.0,Donkey,0.000447,2239.604045,2239.604045,8.473566e+04
21,521.026,654977.0,Horse,0.000795,1257.090817,1257.090817,1.316024e+05
22,0.785,3500.0,European_hedgehog,0.000224,NaN,0.000000,8.751963e+02
23,10.000,114996.0,Patas_monkey,0.000087,NaN,0.000000,2.875150e+04
24,3.300,25600.0,Cat,0.000129,NaN,0.000000,6.400825e+03
25,0.200,5000.0,Galago,0.000040,NaN,0.000000,1.250050e+03
26,1.410,17500.0,Genet,0.000081,NaN,0.000000,4.375353e+03
27,529.006,680005.0,Giraffe,0.000778,1285.439107,1285.439107,1.366210e+05
28,206.996,406019.0,Gorilla,0.000510,1961.482347,1961.482347,8.202979e+04
29,85.004,324992.0,Gray_seal,0.000262,3823.255376,3823.255376,6.654470e+04
...,...,...,...,...,...,...,...
32,6654.180,5711860.0,African_elephant,0.001165,858.386758,858.386758,1.144046e+06
33,3.500,3900.0,Water_opossum,0.000897,NaN,0.000000,9.758752e+02
34,6.800,179003.0,Rhesus_monkey,0.000038,NaN,0.000000,4.475245e+04
35,34.998,56003.0,Kangaroo,0.000625,NaN,0.000000,1.400950e+04
36,4.050,17000.0,Yellow-bellied_marmot,0.000238,NaN,0.000000,4.251013e+03
37,0.120,1000.0,Golden_hamster,0.000120,NaN,0.000000,2.500300e+02
38,0.023,400.0,Mouse,0.000058,NaN,0.000000,1.000058e+02
39,0.010,250.0,Little_brown_bat,0.000040,NaN,0.000000,6.250251e+01
40,1.400,12500.0,Slow_loris,0.000112,NaN,0.000000,3.125350e+03
41,250.010,489997.0,Okapi,0.000510,1959.909604,1959.909604,9.883337e+04
42,2.500,12100.0,Rabbit,0.000207,NaN,0.000000,3.025625e+03
43,55.501,175002.0,Sheep,0.000317,3153.132376,3153.132376,3.627275e+04
44,100.003,156993.0,Jaguar,0.000637,1569.882904,1569.882904,3.204655e+04
45,52.159,440011.0,Chimpanzee,0.000119,8435.955444,8435.955444,9.138701e+04
46,10.550,179504.0,Baboon,0.000059,NaN,0.000000,4.487864e+04
47,0.550,2400.0,Desert_hedgehog,0.000229,NaN,0.000000,6.001376e+02
48,59.997,80996.0,Giant_armadillo,0.000741,1350.000833,1350.000833,1.675120e+04
49,3.600,21000.0,Rock_hyrax2,0.000171,NaN,0.000000,5.250900e+03
50,4.288,39201.0,Raccoon,0.000109,NaN,0.000000,9.801322e+03
51,0.280,1900.0,Rat,0.000147,NaN,0.000000,4.750700e+02
52,0.075,1200.0,E._American_mole,0.000063,NaN,0.000000,3.000188e+02
53,0.122,3000.0,Mole_rat,0.000041,NaN,0.000000,7.500305e+02
54,0.048,330.0,Musk_shrew,0.000145,NaN,0.000000,8.251204e+01
55,192.001,180008.0,Pig,0.001067,937.536784,937.536784,3.641502e+04
56,3.000,25001.0,Echidna,0.000120,NaN,0.000000,6.251000e+03
57,160.004,169000.0,Brazilian_tapir,0.000947,1056.223594,1056.223594,3.425449e+04
58,0.900,2600.0,Tenrec,0.000346,NaN,0.000000,6.502251e+02
59,1.620,11400.0,Phalanger,0.000142,NaN,0.000000,2.850405e+03
60,0.104,2500.0,Tree_shrew,0.000042,NaN,0.000000,6.250260e+02
61,4.235,50400.0,Red_fox,0.000084,NaN,0.000000,1.260106e+04

# Data Aggregations and Summarization

In [9]:
import os


os.chdir('../Slides/vehicles/vehicles')
"""os.listdir()"""
os.getcwd()

'C:\\Users\\eldiy\\Documents\\Ironhack\\Slides\\vehicles\\vehicles'

In [10]:
vehicles=pd.read_csv('vehicles.csv')

In [11]:
vehicles.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [12]:
vehicles.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [13]:
vehicles.groupby(['Transmission'])

In [14]:
vehicles.groupby(['Transmission'])['Highway MPG','City MPG','Combined MPG'].mean()

                                  Highway MPG   City MPG  Combined MPG
Transmission
Auto (AV)                           40.000000  35.000000     37.000000
Auto (AV-S6)                        25.000000  22.000000     23.000000
Auto (AV-S8)                        22.000000  20.000000     21.000000
Auto(A1)                            37.000000  41.000000     39.000000
Auto(AM-S6)                         32.978261  24.315217     27.554348
Auto(AM-S7)                         25.300781  17.746094     20.425781
Auto(AM-S8)                         32.000000  23.666667     26.666667
Auto(AM-S9)                         22.000000  21.000000     21.000000
Auto(AM5)                           39.000000  33.666667     36.000000
Auto(AM6)                           31.345455  23.909091     26.736364
Auto(AM7)                           22.382166  16.248408     18.420382
Auto(AM8)                           28.600000  22.400000     24.600000
Auto(AV-S6)                         30.800000  25.944828     27.848276
Auto(AV-S7)                         33.746032  27.952381     30.206349
Auto(AV-S8)                         28.538462  22.846154     24.961538
Auto(L3)                            17.000000  14.000000     15.500000
Auto(L4)                            19.000000  13.500000     15.500000
Automatic (A1)                      31.666667  34.000000     32.666667
Automatic (A6)                      21.000000  14.000000     16.500000
Automatic (AM5)                     41.000000  33.000000     36.000000
Automatic (AM6)                     18.000000  13.000000     15.000000
Automatic (AV)                      30.000000  21.750000     24.750000
Automatic (AV-S6)                   27.777778  23.666667     25.222222
Automatic (S4)                      24.768559  18.074236     20.528384
Automatic (S5)                      24.205596  17.087591     19.698297
Automatic (S6)                      25.938807  18.337514     21.096921
Automatic (S7)                      23.605364  16.804598     19.195402
Automatic (S8)                      26.983333  18.450000     21.500000
Automatic (S9)                      28.307692  19.923077     23.038462
Automatic (variable gear ratios)    31.094815  27.460741     28.777778
Automatic 3-spd                     21.630343  17.449750     19.033500
Automatic 4-spd                     21.691639  15.944261     18.042607
Automatic 5-spd                     21.647167  15.445417     17.693229
Automatic 6-spd                     23.768156  16.720670     19.237430
Automatic 6spd                      34.000000  21.000000     26.000000
Automatic 7-spd                     24.413897  17.117825     19.746224
Automatic 8-spd                     24.448560  16.576132     19.279835
Automatic 9-spd                     28.366667  20.077778     23.200000
Manual 3-spd                        16.945946  14.229730     15.256757
Manual 4-spd                        21.042113  16.871363     18.462481
Manual 5 spd                        14.000000  14.000000     14.000000
Manual 5-spd                        25.664312  19.242327     21.634391
Manual 6-spd                        26.202229  18.306232     21.153941
Manual 7-spd                        26.205882  18.220588     21.117647
Manual(M7)                          22.333333  14.000000     17.000000

In [15]:
vehicles.groupby(['Cylinders','Fuel Type'])['CO2 Emission Grams/Mile'].median()

Cylinders  Fuel Type
2.0        Premium                        493.722222
           Premium Gas or Electricity      40.000000
           Regular                        522.764706
3.0        Premium                        246.861111
           Premium and Electricity        198.000000
           Regular                        247.000000
4.0        CNG                            253.197321
           Diesel                         308.484848
           Gasoline or E85                355.480000
           Gasoline or natural gas        386.391304
           Premium                        386.391304
           Premium Gas or Electricity      89.000000
           Premium and Electricity        214.000000
           Premium or E85                 373.000000
           Regular                        386.391304
           Regular Gas and Electricity    129.000000
           Regular Gas or Electricity      51.000000
5.0        Diesel                         391.538462
           Premium                        444.350000
           Regular                        467.736842
6.0        CNG                            417.030882
           Diesel                         439.000000
           Gasoline or E85                444.350000
           Gasoline or natural gas        437.000000
           Midgrade                       416.000000
           Premium                        444.350000
           Premium Gas or Electricity     260.000000
           Premium and Electricity        228.000000
           Premium or E85                 423.190476
           Regular                        493.722222
8.0        CNG                            568.070913
           Diesel                         598.823529
           Gasoline or E85                592.466667
           Gasoline or natural gas        740.583333
           Gasoline or propane            666.525000
           Midgrade                       527.000000
           Premium                        522.764706
           Premium Gas or Electricity     277.000000
           Premium and Electricity        463.000000
           Premium or E85                 504.000000
           Regular                        634.785714
10.0       Diesel                         598.823529
           Premium                        634.785714
           Regular                        776.500000
12.0       Premium                        683.615385
           Premium or E85                 633.892857
           Regular                        683.615385
16.0       Premium                        888.700000
Name: CO2 Emission Grams/Mile, dtype: float64

In [16]:
vehicles.groupby(['Fuel Type'])['Combined MPG'].agg(['mean','median','std'])

                                  mean  median       std
Fuel Type
CNG                          18.133333    14.5  7.436663
Diesel                       23.488474    21.0  7.054702
Gasoline or E85              17.572385    17.0  3.822538
Gasoline or natural gas      15.350000    12.0  5.343712
Gasoline or propane          13.500000    13.5  1.603567
Midgrade                     17.378378    17.0  1.848381
Premium                      19.343816    19.0  4.097972
Premium Gas or Electricity   31.647059    33.0  7.158397
Premium and Electricity      26.300000    25.5  5.141165
Premium or E85               20.090909    20.0  3.676502
Regular                      20.144698    20.0  5.317500
Regular Gas and Electricity  41.937500    38.5  5.246824
Regular Gas or Electricity   42.000000    42.0  0.000000

In [17]:
vehicles.groupby(['Fuel Type']).agg(['mean','median','std'])

                                    Year                     \
                                    mean  median        std
Fuel Type
CNG                          2003.200000  2002.5   5.041523
Diesel                       1994.929748  1991.0  11.061243
Gasoline or E85              2010.501255  2011.0   4.000288
Gasoline or natural gas      2004.000000  2003.0   4.129483
Gasoline or propane          2002.500000  2002.5   1.195229
Midgrade                     2014.148649  2014.0   1.818342
Premium                      2005.575345  2007.0   8.344993
Premium Gas or Electricity   2014.470588  2015.0   1.662740
Premium and Electricity      2015.700000  2016.0   0.978721
Premium or E85               2012.917355  2014.0   3.062098
Regular                      1998.252597  1997.0   9.802863
Regular Gas and Electricity  2014.625000  2014.5   1.500000
Regular Gas or Electricity   2016.500000  2016.5   0.707107

                            Engine Displacement                  Cylinders  \
                                           mean median       std      mean
Fuel Type
CNG                                    3.963333    4.6  1.707210  6.500000
Diesel                                 4.188913    3.0  1.955274  6.225027
Gasoline or E85                        4.465188    4.8  1.208031  6.974059
Gasoline or natural gas                4.570000    5.4  1.550925  6.800000
Gasoline or propane                    5.400000    5.4  0.000000  8.000000
Midgrade                               5.536486    5.7  0.613004  7.864865
Premium                                3.517075    3.2  1.360936  6.365286
Premium Gas or Electricity             1.764706    1.4  1.058856  4.235294
Premium and Electricity                2.345000    2.0  0.780334  4.850000
Premium or E85                         3.680992    3.5  1.420758  6.892562
Regular                                3.164540    2.8  1.278608  5.420952
Regular Gas and Electricity            1.950000    2.0  0.089443  4.000000
Regular Gas or Electricity             1.500000    1.5  0.000000  4.000000

                                             Fuel Barrels/Year  ...  \
                            median       std              mean  ...
Fuel Type                                                       ...
CNG                            8.0  1.900045          0.119789  ...
Diesel                         6.0  1.812917         17.680877  ...
Gasoline or E85                8.0  1.360546         19.560309  ...
Gasoline or natural gas        8.0  1.765160         23.725940  ...
Gasoline or propane            8.0  0.000000         24.720750  ...
Midgrade                       8.0  0.505431         19.163168  ...
Premium                        6.0  2.025050         17.852563  ...
Premium Gas or Electricity     4.0  1.562426          4.755412  ...
Premium and Electricity        4.0  1.531253          8.135294  ...
Premium or E85                 6.0  2.695062         17.021126  ...
Regular                        6.0  1.522094         17.467430  ...
Regular Gas and Electricity    4.0  0.000000          4.669536  ...
Regular Gas or Electricity     4.0  0.000000          2.006844  ...

                            Highway MPG Combined MPG                   \
                                    std         mean median       std
Fuel Type
CNG                            9.058177    18.133333   14.5  7.436663
Diesel                         8.660046    23.488474   21.0  7.054702
Gasoline or E85                5.007313    17.572385   17.0  3.822538
Gasoline or natural gas        6.522027    15.350000   12.0  5.343712
Gasoline or propane            1.603567    13.500000   13.5  1.603567
Midgrade                       2.373220    17.378378   17.0  1.848381
Premium                        4.728452    19.343816   19.0  4.097972
Premium Gas or Electricity     6.930326    31.647059   33.0  7.158397
Premium and Electricity        5.240530    26.300000   25.5  5.141165
Premium or E85                 4.006245    20.090909   20.0  3.676502
Regular                        6.147280    20.144698   20.0  5.317500
Regular Gas and Electricity    5.662744    41.937500   38.5  5.246824
Regular Gas or Electricity     0.000000    42.000000   42.0  0.000000

                            CO2 Emission Grams/Mile                          \
                                               mean      median         std
Fuel Type
CNG                                      454.976354  476.817500  170.218778
Diesel                                   470.905819  484.761905  128.454085
Gasoline or E85                          527.444383  522.764706  102.649222
Gasoline or natural gas                  638.967778  740.583333  186.319046
Gasoline or propane                      666.525000  666.525000   79.171689
Midgrade                                 516.911921  525.500000   49.853611
Premium                                  481.159270  467.736842  109.998262
Premium Gas or Electricity               125.411765   91.000000   84.488208
Premium and Electricity                  239.450000  227.000000   83.683285
Premium or E85                           460.462355  444.350000   94.396069
Regular                                  470.907242  444.350000  121.381798
Regular Gas and Electricity              125.687500  129.000000   10.287330
Regular Gas or Electricity                51.000000   51.000000    0.000000

                            Fuel Cost/Year
                                      mean median         std
Fuel Type
CNG                            1954.166667   2075  716.529517
Diesel                         1673.326015   1700  456.728479
Gasoline or E85                1978.870293   1950  389.023360
Gasoline or natural gas        2410.000000   2800  706.101230
Gasoline or propane            2500.000000   2500  320.713490
Midgrade                       2152.027027   2200  208.950277
Premium                        2198.094950   2150  504.338435
Premium Gas or Electricity     1361.764706   1250  356.427329
Premium and Electricity        1597.500000   1575  337.356207
Premium or E85                 2091.322314   2000  426.794139
Regular                        1767.024208   1650  454.845747
Regular Gas and Electricity     812.500000    875  110.302614
Regular Gas or Electricity      800.000000    800    0.000000

[13 rows x 27 columns]

In [18]:
from scipy import stats

def agg_mode(x):
    return(stats.mode(x)[0][0])

In [19]:
stats.mode(vehicles.Transmission)[0][0]

C:\Users\eldiy\Anaconda3\lib\site-packages\scipy\stats\stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

'Automatic 4-spd'

In [20]:
vehicles.groupby('Transmission')['Vehicle Class'].agg(agg_mode)

Transmission
Auto (AV)                                                 Compact Cars
Auto (AV-S6)                                              Compact Cars
Auto (AV-S8)                                              Midsize Cars
Auto(A1)                                               Subcompact Cars
Auto(AM-S6)                                               Compact Cars
Auto(AM-S7)                                           Minicompact Cars
Auto(AM-S8)                                               Compact Cars
Auto(AM-S9)                                                Two Seaters
Auto(AM5)                                                  Two Seaters
Auto(AM6)                                                 Compact Cars
Auto(AM7)                                                  Two Seaters
Auto(AM8)                           Standard Sport Utility Vehicle 4WD
Auto(AV-S6)                                               Midsize Cars
Auto(AV-S7)                                               Midsize Cars
Auto(AV-S8)                                               Midsize Cars
Auto(L3)                                      Special Purpose Vehicles
Auto(L4)                                      Special Purpose Vehicles
Automatic (A1)                                         Subcompact Cars
Automatic (A6)                                            Compact Cars
Automatic (AM5)                                            Two Seaters
Automatic (AM6)                                            Two Seaters
Automatic (AV)                                            Midsize Cars
Automatic (AV-S6)                                         Compact Cars
Automatic (S4)                                            Compact Cars
Automatic (S5)                                            Compact Cars
Automatic (S6)                                            Midsize Cars
Automatic (S7)                                            Midsize Cars
Automatic (S8)                                            Midsize Cars
Automatic (S9)                         Small Sport Utility Vehicle 4WD
Automatic (variable gear ratios)                          Midsize Cars
Automatic 3-spd                                           Compact Cars
Automatic 4-spd                                           Midsize Cars
Automatic 5-spd                            Sport Utility Vehicle - 4WD
Automatic 6-spd                            Sport Utility Vehicle - 2WD
Automatic 6spd                                            Midsize Cars
Automatic 7-spd                                           Compact Cars
Automatic 8-spd                                             Large Cars
Automatic 9-spd                        Small Sport Utility Vehicle 4WD
Manual 3-spd                                                      Vans
Manual 4-spd                                    Standard Pickup Trucks
Manual 5 spd                                                      Vans
Manual 5-spd                                              Compact Cars
Manual 6-spd                                              Compact Cars
Manual 7-spd                                          Minicompact Cars
Manual(M7)                                                 Two Seaters
Name: Vehicle Class, dtype: object

In [21]:
vehicles.mode()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,Chevrolet,F150 Pickup 2WD,1985,2.0,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,15,24,18,493.722222,1850

In [22]:
stats.mode(vehicles)

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
vehicles.Year.where(vehicles.Year>2000,0)

In [ ]:
vehicles.where(vehicles.Year>2000,np.nan)

In [ ]:
#os.chdir('../../../../')
"""os.listdir()"""
#os.chdir('../../')
import os
os.getcwd()
os.chdir('Github/data-labs/module-2/lab-df-calculation-and-transformation/your-code')

In [ ]:
os.listdir()
pok=pd.read_csv('Pokemon.csv')

In [ ]:
pok.Name.apply(lambda x:'Mega '+str(x.split("Mega")[1].strip())).where(pok.Name.str.contains('Mega'),pok.Name)

In [ ]:
pok.Name.str.split("Mega").str[1].str.strip().apply(lambda x:'Mega'+str(x))

In [ ]:
pok.Name.str.split("Mega").str[1].apply(lambda x:'Mega'+str(x)).where(pok.Name.str.contains('Mega'),pok.Name)

In [ ]:
ll=list(pok.Name[pok.Name.str.contains('Mega')])
pok[pok.Name.isin(ll)].groupby(['Type 1']).agg('mean')

# Advanced Topics in Pandas

In [ ]:
df1=pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
df2=pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])

In [ ]:
pd.DataFrame(np.where(pd.eval('df1<df2'),df1,0))

In [ ]:
df1.eval('b>0')

In [ ]:
df1.query('b>0')

In [ ]:
seasons=pd.DataFrame(np.random.randn(10,4),columns=['hiver','printemps','ete','automne'])
seasons

In [ ]:
lookup=['hiver','ete','ete','ete','printemps','automne','printemps','hiver','ete','ete']
hlookup=[2]*4

list(seasons.lookup(hlookup,seasons.columns))
#[seasons.get_value(row,col) for row,col in zip(seasons.index,lookup)]

In [ ]:
seasons.query('hiver>0.5')

In [ ]:
seasons.get(seasons.hiver>0.5)

In [ ]:
seasons.get(['ete','printemps'])

In [ ]:
seasons.ete

In [ ]:
seasons['ete']

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
cols = ['mpg','cylinders','displacement','horsepower','weight','acceleration',
        'model_year','origin','car_name']
auto = pd.read_csv(url, sep='\\s+', names=cols)
auto.head()

In [ ]:
auto.index

In [ ]:
from pandas import RangeIndex

auto.index=RangeIndex(start=0, stop=398*2, step=2)
auto.head()

In [ ]:
auto.index=range(0, 398*3, 3)
auto.head()

In [ ]:
auto.index

In [ ]:
auto.index('car_name')

In [ ]:
auto.index=auto.car_name
auto.head()

In [ ]:
auto.drop('car_name',axis=1)

In [ ]:
auto.set_index('car_name')
auto.head()
auto.set_index('car_name',inplace=True)
auto.head()

In [ ]:
(auto.car_name+auto.model_year.map(str)).value_counts()
auto.drop_duplicates(subset=['car_name','model_year'],inplace=True)

In [ ]:
(auto.car_name+auto.model_year.map(str)).value_counts()
auto.set_index(['car_name','model_year'],inplace=True)

In [ ]:
new_index=[('fiat punto',71)]+list(auto.index)
auto_reindexed=auto.reindex(new_index)
auto_reindexed.head()

In [ ]:
import pandas as pd
ks=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/ks-projects-201801.csv.zip')

In [ ]:
ks.isna().sum()

In [ ]:
ks.drop('usd pledged',axis=1,inplace=True)

In [ ]:
ks.replace('N,0"','Unknown',inplace=True)
ks.country.value_counts()

In [ ]:
(ks.drop(['usd pledged'],axis=1).replace('N,0"','Unknown')).head()

In [ ]:
ks.assign(dollar_per_backer=ks.usd_pledged_real/ks.backers,
          duration=pd.to_datetime(ks.deadline)-pd.to_datetime(ks.launched)
         ).head()

In [ ]:
ks.head()

In [ ]:
pok['new_col'] = list(zip(pok['Type 1'], pok['Type 2']))
pok.head()

In [ ]:
#pok['new_col'] = zip(pok['Type 1'], pok['Type 2'])
#data = pd.concat([])

data=pd.get_dummies(pok['Type 1'],prefix='type1').merge(pd.get_dummies(pok['Type 2'],prefix='type2'),on=pok.index)
data['Total']=pok.Total

In [ ]:
data.corr()['Total']

In [ ]:
len(set(pok['Type 1']) and set(pok['Type 2']))-1